@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Poppins as default font family */
@layer base {
  /* html {
    @apply font-poppins;
  }
  
  body {
    @apply font-poppins bg-gray-50 text-gray-900;
  }
  
  button,
  input,
  textarea,
  select {
    @apply font-poppins;
  } */
}
